<p class="spaced-subtitle">
  <i class="fa fa-cookie fa-lg green icon-large" aria-hidden="true"></i>
  <%= t('calculator.step2_full_portion_title').html_safe %>
</p>

<p class="spaced-subtitle">
  <i class="fa fa-cookie-bite fa-lg green icon-large" aria-hidden="true"></i>
  <%= t('calculator.step2_half_portion_title') %>
  <span class="badge badge-success badge-label" id="potency-result">0</span>
</p>

<p id="highness-level" class="spaced-subtitle"></p>

<br/>
<%= render 'ads/medium', component_id: 'ad-medium-top' %>

<h2 class="spaced-subtitle">
  <i class="far fa-laugh fa-lg green icon icon-large" aria-hidden="true"></i>
  <%= t('calculator.step2_positive_effects_title') %>
</h2>
<p class="spaced-content mt-2 pl-2 pb-2" id="positive-effect-details"></p>

<br/>
<h2>
  <i class="far fa-frown fa-lg red icon-large" aria-hidden="true"></i>
  <%= t('calculator.step2_negative_effects_title') %>
</h2>
<p class="spaced-content mt-2 pl-2 pb-2" id="negative-effect-details"></p>

<p class="sidenote"><%= t('calculator.step2_observation') %></p>
