<h3>Contact us</h3><br/>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <%= form_for @contact_message, url: create_contact_message_url do |f| %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-success">
          <%= message %>
        </div>
      <% end %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, class:'form-control', placeholder:t('.name_placeholder') %><br />

      <%= f.email_field :email, class:'form-control', placeholder:t('.email_placeholder') %><br />

      <%= f.text_area :body, class:'form-control', placeholder:t('.body_placeholder'), style:'height:150px' %><br />

      <%= recaptcha_tags %>
      <%= f.submit t('.send_button_label'), class:'btn btn-primary contact-btn' %>
    <% end %>
  </div>
</div>
