<div class="col-sm-12 container">
  <h5>
    <i class="fa fa-calculator fa-lg og" aria-hidden="true"></i> <%= t :step1_title %> <%= @recipe.name.upcase %>
  </h5>
  <div class="row top-buffer meter-container">
    <div class="row">
      <div class="col-sm-12">
        <p class="pull-center"><strong><%= t :step1_weed_quantity %></strong></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <input id="grams"
          type="text"
          data-slider-id="slider"
          data-slider-min="1"
          data-slider-max="28"
          data-slider-step="0.1"
          data-slider-value="<%= @recipe.suggested_weed %>"
          data-slider-tooltip="hide"/>
      </div>
      <div class="col-sm-12">
        <strong><p class="pull-right" id="grams-quantity"></span></strong>
      </div>
    </div>
  </div>

  <div class="row top-buffer meter-container">
    <div class="row">
      <div class="col-sm-12">
        <strong><p class="pull-center"><%= t :step1_weed_intensity %></strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input id="strength"
          type="text"
          data-slider-id="slider"
          data-slider-min="1"
          data-slider-max="95"
          data-slider-step="1"
          data-slider-value="10"
          data-slider-tooltip="hide"/>
      </div>
      <div class="col-sm-12">
        <a class="pull-left label-calculator" data-toggle="modal" href="#" data-target="#myModal">
          <span class="label label-warning">
            <%= t :step1_potency_dont_know %>
          </span>
        </a>
        <p class="pull-right" id="strength-quantity"></p>
      </div>
      <%= render "modal_potency" %>
    </div>
  </div>

  <div class="row top-buffer meter-container">
    <div class="row">
      <div class="col-sm-12">
        <p class="pull-center"><strong><%= t :step1_weed_portions %></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input id="number-of-servings"
          type="text"
          data-slider-id="slider"
          data-slider-min="1"
          data-slider-max="80"
          data-slider-step="1"
          data-slider-value="<%= @recipe.suggested_portion %>"
          data-slider-tooltip="hide"/>
      </div>
      <div class="col-sm-12">
        <p class="pull-right" id="servings-quantity"></p>
      </div>
    </div>
  </div>
</div>
