<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="reference" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2><%= t('calculator.step1_potency_modal_title') %></h2>
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th><%= t('calculator.step1_potency_modal_column_one') %></th>
              <th><%= t('calculator.step1_potency_modal_column_two') %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= t('calculator.step1_potency_modal_low_quality') %></td>
              <td><%= t('calculator.step1_potency_modal_low_quantity') %></td>
            </tr>
            <tr>
              <td><%= t('calculator.step1_potency_modal_medium_quality') %></td>
              <td><%= t('calculator.step1_potency_modal_medium_quantity') %></td>
            </tr>
            <tr>
              <td><%= t('calculator.step1_potency_modal_high_quality') %></td>
              <td><%= t('calculator.step1_potency_modal_high_quantity') %></td>
            </tr>
            <tr>
              <td><%= t('calculator.step1_potency_modal_concentrates') %></td>
              <td><%= t('calculator.step1_potency_modal_concentrates_quantity') %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal"><%= t('.modal_close') %></a>
      </div>
    </div>
  </div>
</div>
