<%# Locals: recipes %>

<div class="popular-recipes pt-2 pb-2">
  <i class="fa fa-fire-alt fa-lg orange popular-recipe-title icon-medium" aria-hidden="true"></i>
  <h2> <%= t :popular_recipes %></h2>
</div>

<% recipes.each_slice(4) do |recipes| %>
  <div class="d-none d-md-block">
    <div class="row">
      <% recipes.each do |recipe| %>
        <div class="col-sm-3">
          <%= link_to recipe_path(recipe.slug) do %>
            <div class="card">
                <%= image_tag(recipe.photo.url,  class: 'card-img-top', alt: recipe.name) %>
                <div class="card-block">
                  <p class="card-title"><%= recipe.name %></p>
                  <p class="card-text"><%= recipe.description %></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% recipes.each_slice(4) do |recipes| %>
  <div class="d-none d-sm-block d-md-none">
    <div class="row">
      <% recipes.each do |recipe| %>
        <div class="col-sm-3">
          <%= link_to recipe_path(recipe.slug) do %>
            <div class="card">
                <%= image_tag(recipe.photo.url, alt: recipe.name, class: 'card-img-top') %>
                <div class="card-block">
                  <p class="card-title"><%= recipe.name %></p>
                  <p class="card-text"><%= recipe.description %></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% recipes.each_slice(2) do |recipes| %>
  <div class="d-block d-sm-none d-sm-block d-md-none">
    <% recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.slug) do %>
        <div class="card">
          <div class="card-internal mb-2">
            <div class="ml-2 mt-2">
              <%= image_tag(recipe.photo.url, class: 'card-img-left', alt: recipe.name, width: 260, height: 260) %>
            </div>

            <div class="card-block ml-2 mr-1">
              <p class="card-category pt-2"><%= recipe.category.name %></p>
              <p class="card-title"><%= recipe.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

