<div class="col-sm-12 ui-item">
  <div class="col-sm-12">
    <h4 class="text-left container-title">
      <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i> <%= t :step3_title %> <br/>
    </h4>
    <h4>
      <%= @recipe.name.capitalize %>
    </h4>
    <%= @recipe.ingredients.html_safe %>
  </div>
  <div class="col-sm-12 text-justify">
    <h4><i class="fa fa-list-ol fa-lg" aria-hidden="true"></i>  <%= t :step3_step_by_step %></h4>
    <%= @recipe.instructions.html_safe %>
  </div>
  <div class="col-sm-12 video-container">
    <a href="#" class="thumbnail">
      <iframe width="100%" height="300px" src="<%= @recipe.video %>" frameborder="0" allowfullscreen></iframe>
    </a>
  </div>

</div>
