<%# Locals: recipes %>
<h2>
  <%= t :popular_recipes %>
  <i class="fa fa-caret-up fa-lg green" aria-hidden="true"></i>
</h2>
<% recipes.each_slice(3) do |recipes| %>
  <div class="d-none d-md-block">
    <div class="row">
      <% recipes.each do |recipe| %>
        <div class="col-sm-4">
          <%= link_to category_recipe_path(recipe.category.slug, recipe.slug) do %>
            <div class="card">
                <%= image_tag(recipe.photo.url,  class: 'card-img-top', alt: recipe.name) %>
                <div class="card-block">
                  <p class="card-title"><%= recipe.name %></p>
                  <p class="card-text"><%= recipe.description %></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% recipes.each_slice(2) do |recipes| %>
  <div class="d-none d-sm-block d-md-none">
    <div class="row">
      <% recipes.each do |recipe| %>
        <div class="col-sm-6">
          <%= link_to category_recipe_path(recipe.category.slug, recipe.slug) do %>
            <div class="card">
                <%= image_tag(recipe.photo.url,  class: 'card-img-top', alt: recipe.name) %>
                <div class="card-block">
                  <p class="card-title"><%= recipe.name %></p>
                  <p class="card-text"><%= recipe.description %></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% recipes.each_slice(2) do |recipes| %>
  <div class="d-block d-sm-none">
    <div class="row">
      <% recipes.each do |recipe| %>
        <div class="col-sm-6">
          <%= link_to category_recipe_path(recipe.category.slug, recipe.slug) do %>
            <div class="card">
                <%= image_tag(recipe.photo.url,  class: 'card-img-top', alt: recipe.name) %>
                <div class="card-block">
                  <p class="card-title"><%= recipe.name %></p>
                  <p class="card-text"><%= recipe.description %></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>