<div class="footer">
  <div class="container">
    <div class="row col-sm-12 container">
        <div class="col-sm-6 container">
          <ul class="fa-ul">
            <h4><%= t :do_title %></h4>
            <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_1 %></p></li>
            <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_2 %></p></li>
            <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_3 %></p></li>
            <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_4 %></p></li>
            <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_5 %></p></li>
          </ul>
        </div>
        <div class="col-sm-6 container">
          <ul class="fa-ul">
            <h4><%= t :dont_title %></h4>
            <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_1 %></p></li>
            <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_2 %></p></li>
            <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_3 %></p></li>
            <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_4 %></p></li>
            <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_5 %></p></li>
          </ul>
        </div>
    </div>
    <span class="send-menu-btn pull-right">
      <a href="https://bit.ly/helpedibles" target="_blank">
        <span class="label label-custom label-danger">
          <i class="fa fa-exclamation-triangle white" aria-hidden="true"></i>
          HELP ME! BAD TRIP!
        </span>
      </a>
    </span>
  </div>
</div>
