<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="fa-ul">
          <p class="title"><%= t :do_title %></p>
          <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_1 %></p></li>
          <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_2 %></p></li>
          <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_3 %></p></li>
          <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_4 %></p></li>
          <li><p><i class="fa-li fa fa-check green"></i><%= t :do_content_5 %></p></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="fa-ul">
          <p class="title"><%= t :dont_title %></p>
          <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_1 %></p></li>
          <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_2 %></p></li>
          <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_3 %></p></li>
          <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_4 %></p></li>
          <li><p><i class="fa-li fa fa-ban red"></i><%= t :dont_content_5 %></p></li>
        </ul>
      </div>
    </div>

    <% if I18n.locale == :en %>
        <div class="text-right">
          <p>
            <%= t 'having_a_bad_time' %>
            <a href="https://bit.ly/helpimhavingabadtrip" target="_blank" rel="noopener noreferrer">
              <span class="badge badge-danger badge-label">
                <i class="fa fa-exclamation-triangle white" aria-hidden="true"></i>
                <%= t 'panic_button' %>
              </span>
            </a>
          </p>
        </div>
      <% end %>
  </div>
</div>
