<div class="col-sm-4">
  <h5>
    <%= t :calculator_title %>
    <i class="fa fa-calculator fa-lg green" aria-hidden="true"></i>
  </h5>
  <hr>
  <%= render "components/calculator" %>

  <div class="padding-space col-sm-12"></div>
  <h5>
    <%= t :dosage_title %>
    <i class="fa fa-flask fa-lg green" aria-hidden="true"></i>
  </h5>
  <hr>
  <%= render "components/dosage" %>
  <div class="padding-space col-sm-12"></div>
  <div class="padding-space col-sm-12"></div>
</div>
<div class="col-sm-8">
  <h5>
    <%= t :popular_recipes %>
    <i class="fa fa-caret-up fa-lg green" aria-hidden="true"></i>
  </h5>
  <hr>
  <% @recipes.each_slice(3) do |recipes| %>
    <div class="row">
      <% recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.category.slug, recipe.slug) do %>
          <div class="col-sm-4 col-md-4">
            <div class="card">
                <%= image_tag(recipe.photo.url,  class: 'card-img-top') %>
                <div class="card-block text-left">
                  <h3 class="card-title"><%= recipe.name %></h3>
                  <p class="card-text"><%= recipe.description %></p>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if I18n.locale != :en %>
    <p class="suggest-recipes">
      Any suggestions for new recipes? <br/>
      <%= link_to 'Click here', 'http://bit.ly/sendhowtoedibles' %> to share your recipes
    </p>
  <% end %>
</div>

