<div class="container">
  <div class="row">
    <div class="col-sm-5 padding-bottom">
      <%= render 'calculator_widget', title: t(:calculator_title), suggested_weed: @suggested_weed, suggested_portion: @suggested_portion %>
      <%= render "dosage_widget", title: t(:dosage_title) %>
      <%= render "commons/facebook_like_page" %>
    </div>

    <div class="col-sm-7">
      <%= render 'recipes', recipes: @recipes %>
      <% if I18n.locale == :en %>
        <%= render 'commons/facebook_share_widget' %>
        <%= render 'suggest_recipe_button' %>
      <% end %>
    </div>
  </div>
</div>