<%= render 'harm_reduction' %>
<div id="recipe_description">
  <div class="col-sm-5 calculator-item-show">
    <%= render 'calculator_widget' %>
    <div class="padding-space col-sm-12"></div>
    <%= render 'dosage_widget' %>
    <%= render "commons/ad_left_side" %>
    <div class="padding-space col-sm-12"></div>
  </div>
  <div class="col-sm-6">
    <%= render 'recipe' %>
    <div class="padding-space col-sm-12"></div>
  </div>
</div>
