<%= render 'harm_reduction' %>
<div class="row">
  <div class="col-sm-5 order-1 order-md-2">
    <i class="fa fa-calculator fa-lg orange icon-medium" aria-hidden="true"></i>
    <h2><%= t('calculator.step1_title') %></h2>
    
    <%=
      render 'components/calculator',
      suggested_quantity: @suggested_quantity,
      suggested_portion: @suggested_portion,
      suggested_potency: @suggested_potency
    %>
    <%= render 'ads/medium' %>
    <%= render 'dosage_widget', title: t('calculator.step2_title') %>
  </div>
  <div class="col-sm-7 order-2 order-md-1">
    <%= render 'ads/leaderboard' %>	
    <%= render 'recipe_content', recipe: @recipe %>
    <%= render 'ads/donate' %>
  </div>
</div>
