<div class="col-sm-12 container">
  <% if I18n.locale != :en %>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'harm_reduction' %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'calculator' %>
      <%= render 'dosage' %>
    </div>
    <div class="col-sm-6">
      <%= render 'recipe' %>
    </div>
  </div>
  <%= render 'layouts/warning' %>
</div>
<%= render 'share_widget' %>
<%= render 'i18n' %>

