<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-logo">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo-margin"><a href="#"><%= image_tag(t(:logo), :alt => 'How to Edibles', :size => t(:logo_size))%></a></div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% @recipes.each do |recipe| %>
          <li class="<%= tab_highlight?(params[:recipe_slug], recipe) %>">
            <%= link_to recipe.name, recipe.slug %>
          </li>
        <% end %>
        <% if I18n.locale == :en %>
          <li>
            <a href="http://bit.ly/sendhowtoedibles" target="_blank">

              <span class="label label-success send-menu-btn">
                <i class="fa fa-send-o white" aria-hidden="true"></i>
                Send your recipe
              </span>

            </a>
          </li>

          <li>
            <a href="https://bit.ly/helpedibles" target="_blank">
              <span class="label label-danger send-menu-btn">
                <i class="fa fa-exclamation-triangle white" aria-hidden="true"></i>
                HELP ME! I'M HAVING A BAD TRIP
              </span>

            </a>
          </li>
        <% end %>
        <!-- <li>
          <%= link_to "Coconut oil", "#" %>
        </li>
        <li>
          <%= link_to "Brownie", "#" %>
        </li>
        <li>
          <%= link_to "Pizza", "#" %>
        </li>
        <li>
          <%= link_to "Crackers", "#" %>
        </li>
        <li>
          <%= link_to "Cookies", "#" %>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

