<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <ul class="fa-ul">
        <h4><%= t :do_title %></h4>
        <li><i class="fa-li fa fa-check green"></i><%= t :do_content_1 %></li>
        <li><i class="fa-li fa fa-check green"></i><%= t :do_content_2 %></li>
        <li><i class="fa-li fa fa-check green"></i><%= t :do_content_3 %></li>
        <li><i class="fa-li fa fa-check green"></i><%= t :do_content_4 %></li>
        <li><i class="fa-li fa fa-check green"></i><%= t :do_content_5 %></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="fa-ul">
        <h4><%= t :dont_title %></h4>
        <li><i class="fa-li fa fa-ban red"></i><%= t :dont_content_1 %></li>
        <li><i class="fa-li fa fa-ban red"></i><%= t :dont_content_2 %></li>
        <li><i class="fa-li fa fa-ban red"></i><%= t :dont_content_3 %></li>
        <li><i class="fa-li fa fa-ban red"></i><%= t :dont_content_4 %></li>
        <li><i class="fa-li fa fa-ban red"></i><%= t :dont_content_5 %></li>
      </ul>
    </div>
    <div class="col-sm-12">
      <div class="addthis_inline_share_toolbox pull-right"></div>
    </div>
  </div>
</div>
