<!DOCTYPE html>
<html>
  <head>
    <title>How to edibles</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta charset='utf-8' />
    <meta name='description', content="Dose your edibles" />

    <meta property='og:site_name', content='How to Edibles' />
    <meta property='og:title', content='Dose your edibles' />
    <meta property='og:description', content="Dose your edibles" />

    <%= yield(:head) %>
  </head>

  <body>
    <header>
      <%= render 'layouts/menu' %>
    </header>
    <div class='main ui-139'>
      <%= yield %>
    </div>
    <% if !Rails.env.development? %>
      <%= render 'analytics' %>
    <% end %>
  </body>
</html>
