<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t :page_title %></title>
    <%= favicon_link_tag 'favicon_385_icon.ico' %>
    <link rel="canonical" href="<%= t :website_url_http %>" />
    <%= csrf_meta_tags %>

    <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" onload="this.rel='stylesheet'"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta charset='utf-8' />
    <meta name='description' content="<%= t :meta_og_description %>" />
    <meta name="google-site-verification" content="Gx8tQ2a4mdwxSkH2HQSVZa8Iwm8EW6nSTSO3PhERQNY" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="<%= t :meta_og_site_name %>" />
    <meta itemprop="description" content="<%= t :meta_og_description %>" />
    <meta itemprop="image" content="<%= image_url('pot-brownies.jpg') %>" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<%= t :website_url %>" />
    <meta property="og:type" content="website">
    <meta property='og:site_name' content="<%= t :meta_og_site_name %>" />
    <meta property='og:title' content="<%= t :meta_og_title %>" />
    <meta property='og:description' content="<%= t :meta_og_description %>" />
    <meta property="og:image" content="<%= image_url('pot-brownies.jpg') %>" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= t :meta_og_title %>">
    <meta name="twitter:description" content="<%= t :meta_og_description %>">
    <meta name="twitter:image" content="<%= image_url('pot-brownies.jpg') %>">

    <meta name="keywords" content="<%= t :meta_tags %>">
 
    <%= render 'ads/ads_puffnetwork' if Feature.active?(:ads_puffnetwork) %>
    <%= render 'ads/ads_adsense' if Feature.active?(:ads_adsense) %>
    <%= RailsCriticalCssServer::Rewrite.call self do %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>
    <%= yield(:head) %>
  </head>

  <body data-locale="<%= I18n.locale %>">
    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'recipes/warning' %>
    <%= render 'commons/i18n' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <% unless Rails.env.development? %>
      <%= render 'commons/analytics' %>
      <%= render 'commons/mouseflow' if Feature.active?(:mouseflow) %>
    <% end %>
  </body>
</html>
