<!DOCTYPE html>
<html>
  <head>
    <title><%= t :page_title %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="canonical" href="<%= t :website_url_http %>" />
    <%= csrf_meta_tags %>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta charset='utf-8' />
    <meta name='description' content="<%= t :meta_description %>" />
    <meta name="google-site-verification" content="Gx8tQ2a4mdwxSkH2HQSVZa8Iwm8EW6nSTSO3PhERQNY" />
    <meta property='og:site_name' content="<%= t :meta_og_site_name %>" />
    <meta property='og:title' content="<%= t :meta_og_title %>" />
    <meta property='og:description' content="<%= t :meta_og_description %>" />
    <meta property="og:url" content="<%= t :website_url %>" />
    <meta property="og:type"  content="website" />
    <meta property="og:image" content="<%= image_url('pot-brownies.jpg') %>" />
    <meta name="keywords" content="<%= t :meta_tags %>">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6354522716906819",
        enable_page_level_ads: true
      });
    </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= yield(:head) %>
  </head>

  <body>
    <header>
      <%= render 'layouts/menu' %>
    </header>
    <div class="container clear">
      <%= yield %>
    </div>
    <%= render "commons/ad_left_side" %>
    <%= render "commons/get_site_control_widget" %>
    <%= render 'recipes/warning' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'util/analytics' %>
    <%= render 'i18n' %>
  </body>
</html>
