<!DOCTYPE html>
<html>
  <head>
    <title>How to edibles - The tool to help you dose your weed edibles</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta charset='utf-8' />
    <meta name='description' content="This is a website to help you with your dosage in marijuana edibles. We show all the steps how to do edibles." />

    <meta property='og:site_name' content='How to Cannabis Edibles' />
    <meta property='og:title' content='Dose your Cannabis edibles' />
    <meta property='og:description' content="This is a website to help you with your dosage in marijuana edibles. We show all the steps how to do edibles." />
    <meta name="keywords" content="edibles,cannabis,marijuana,weed,dose,dosage,pot,overdose,how,to,edibles,howtoedibles">

    <%= yield(:head) %>
  </head>

  <body>
    <header>
      <%= render 'layouts/menu' %>
    </header>
    <div class='main ui-139'>
      <%= yield %>
    </div>
    <% if !Rails.env.development? %>
      <%= render 'analytics' %>
      <%= render 'feedback_widget' %>
      <%= render 'share_widget' %>
    <% end %>
  </body>
</html>
